@import "../../variable.less";

@keyframes fadeIn {
  0% {
    opacity: 0.01;
    transform: translateY(100px);
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

.searchPage {
  animation: fadeIn 0.6s ease-out;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-top: -83px;
  min-height: calc(100vh - 64px);
  background: #fafafa;
  position: relative;
  z-index: 1;
}

.searchBar {
  width: 100%;
  border-radius: 0;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 calc(50vw - 450px + 40px);
  box-sizing: border-box;
}

@media (max-width: @screen-sm-min) {
  .searchBar {
    padding: 0 20px;
  }
}

.resultItem {
  padding: 16px 20px;
  margin: 8px;
  width: calc(100% - 16px);
  background: #fff;
  a {
    color: #666;
    &:hover {
      color: rgb(68, 138, 255);
    }
  }
}

.postsList {
  min-height: 500px;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}
