.searchPage {
  padding-top: 80px;
  max-width: 800px;
  margin: 0 auto;
}

.searchBar {
  padding: 16px 24px;
  margin: 16px;
}

.resultItem {
  padding: 16px;
  margin: 8px;
  width: calc(100% - 16px);
}
